.decks {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 10px;
}

.bigDeck,
.smallDeck {
    display: flex;
}

.chosenCard {
    animation: choosingCard 0.3s ease;
}

.chosenCard > div {
    transform-origin: center;
    animation: rotation 0.3s linear;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.box button {
    width: 80px;
}

@media screen and (min-width: 1200px) {
    .decks {
        /* position: absolute;
        bottom: 10px; */
        margin-left: calc(10% + 130px);
    }
}

@keyframes choosingCard {
    100% {
        transform: translateY(calc(200px - 100vh));
    }
}

@keyframes rotation {
    0% {
        transform: perspective(400px) rotateX(0deg);
    }

    100% {
        transform: perspective(400px) rotateX(90deg);
    }
}
/* 
@media screen and (min-width: 768px) {
    @keyframes choosingCard {
        100% {
            transform: translateY(-200px);
        }
    }
} */
