.info {
    padding: 6px;
    font-size: 15px;
    background-color: var(--btn-color);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    box-shadow: 0px 4px 10px var(--third2-color);
    min-width: 173px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /* min-width: 151px; */
}

.money {
    display: flex;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}

/* .sharesList {
    margin: 3px 0;
    font-size: 9px;
    border: 1px solid var(--main-color);
}

.shares {
    display: flex;
    align-items: center;
}

.shares:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}

.name,
.count,
.cost {
    padding: 4px;
}

.count {
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.name {
    width: 50px;
    text-shadow: 0px 0px 1px #4969f8;
}

.count {
    width: 40px;
    text-align: center;
}

.cost {
    width: 66px;
    text-align: end;
} */

.capital {
    margin-top: 15px;
    padding-top: 7px;
    border-top: 1px solid;
}

/* .total {
    display: block;
    margin: 8px;
    font-size: 22px;
    color: var(--accent-color);
    text-align: center;
    text-shadow: #fc0 1px 0 10px;
} */

.player {
    color: var(--accent-color);
}

.flexBox {
    display: flex;
    font-size: 12px;
    justify-content: space-around;
    /* gap: 6px; */
}

.flexBox span {
    font-size: 18px;
}
