.sharesList {
    margin-top: 8px;
    font-size: 8px;
}

.flexBox {
    display: flex;
}

.name {
    width: 50px;
    padding: 2px;
}

.count {
    width: 45px;
    padding: 2px;
    text-align: center;
}

.cost {
    width: 25px;
    padding: 2px;
    text-align: end;
}
