.item {
    padding: 6px 10px;
    font-size: 14px;
    background-color: var(--btn-color);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    box-shadow: 0px 4px 10px var(--third2-color);
}

/* .item button {
    margin: 20px auto 5px;
} */

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.gameName {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gameName span {
    color: var(--accent-color);
}

.center {
    margin: 20px auto 5px;
}
