.container {
    position: relative;
}

.select {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 130px;
    padding: 4px 8px;
    background-color: var(--btn-color);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    cursor: pointer;
}

.list {
    position: absolute;
    top: 30px;
    width: 130px;
    background-image: var(--bg-gradient);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
}

.item {
    padding: 4px;
    text-align: center;
    /* color: gray; */
    /* transition: background-color 300ms ease; */
}

.item:hover {
    background-color: var(--third2-color);
}
/* 


.warning {
    composes: item;
    color: var(--error-color);
}

.item:hover {
    color: #ffffff;
    background-color: #123456;
}

.title {
    width: 193px;
    padding-right: 8px;
}

.thumb {
    display: flex;
    gap: 8px;
} */

/* @media screen and (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    .title {
        width: 300px;
        padding-right: 40px;
    }

    .list {
        width: 470px;
        top: 0;
        left: 0;
    }

    .item {
        font-size: 12px;
    }

    .thumb {
        gap: 20px;
    }
} */
