.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: var(--bg-color);
    scroll-behavior: none;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
