.container {
    display: flex;
    /* width: 180px;
    height: 150px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 20px; */
    /* border: 1px solid #cccccc; */
}

.info {
    margin-left: 10px;
    color: #cccccc;
}

.thumb {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 11px;
    /* align-items: center; */

    margin-bottom: 10px;
}

.box {
    display: flex;
    align-items: center;
    gap: 6px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.colorList {
    display: flex;
    gap: 8px;
}

.color {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.color::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cccccc80;
}

.active {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px double orange;
}

.bonus {
    font-size: 8px;
}

.btns {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
